.con-in {
  padding: 2rem;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.con-content1 {
  padding: 2rem 1.5rem;
  width: 100%;
}
.main-container {
  padding: 2rem 1.5rem;
  width: 374px;
  height: 100%;
  background: rgba(252, 246, 249, 0.78);
  border: 3px solid #ffffff;
  -webkit-backdrop-filter: blur(4.5px);
  backdrop-filter: blur(4.5px);
  border-radius: 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 2rem;
}
.main-container .user-con {
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
}
.main-container .user-con img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  background: #fcf6f9;
  border: 2px solid #ffffff;
  padding: 0.2rem;
  box-shadow: 0px 1px 17px rgba(0, 0, 0, 0.06);
}
.main-container .user-con h2 {
  color: rgba(34, 34, 96, 1);
}
.main-container .user-con p {
  color: rgba(34, 34, 96, 0.6);
}
.main-container .menu-items {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.main-container .menu-items li {
  display: grid;
  grid-template-columns: 40px auto;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0.6rem 0;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: rgba(34, 34, 96, 0.6);
  padding-left: 1rem;
  position: relative;
}
.main-container .menu-items li i {
  color: rgba(34, 34, 96, 0.6);
  font-size: 1.4rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.main-container .active {
  color: rgba(34, 34, 96, 1) !important;
}
.main-container .active i {
  color: rgba(34, 34, 96, 1) !important;
}
.main-container .active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background: #222260;
  border-radius: 0 10px 10px 0;
}

.formbtn {
  outline: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.formcon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2rem;
}
.formcon input,
.formcon textarea,
.formcon select {
  font-family: inherit;
  font-size: inherit;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid #fff;
  background: transparent;
  resize: none;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
  color: rgba(34, 34, 96, 0.9);
}
.formcon input::-webkit-input-placeholder,
.formcon textarea::-webkit-input-placeholder,
.formcon select::-webkit-input-placeholder {
  color: rgba(34, 34, 96, 0.4);
}
.formcon input::-moz-placeholder,
.formcon textarea::-moz-placeholder,
.formcon select::-moz-placeholder {
  color: rgba(34, 34, 96, 0.4);
}
.formcon input:-ms-input-placeholder,
.formcon textarea:-ms-input-placeholder,
.formcon select:-ms-input-placeholder {
  color: rgba(34, 34, 96, 0.4);
}
.formcon input::placeholder,
.formcon textarea::placeholder,
.formcon select::placeholder {
  color: rgba(34, 34, 96, 0.4);
}
.formcon .input-control input {
  width: 100%;
}
.formcon .selects {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.formcon .selects select {
  color: rgba(34, 34, 96, 0.4);
}
.formcon .selects select:focus,
.formcon .selects select:active {
  color: rgba(34, 34, 96, 1);
}
.formcon .submit-btn button {
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
}
.formcon .submit-btn button:hover {
  background: var(--color-green) !important;
}

.exenseform {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2rem;
}
.exenseform input,
.exenseform textarea,
.exenseform select {
  font-family: inherit;
  font-size: inherit;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid #fff;
  background: transparent;
  resize: none;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
  color: rgba(34, 34, 96, 0.9);
}
.exenseform input::-webkit-input-placeholder,
.exenseform textarea::-webkit-input-placeholder,
.exenseform select::-webkit-input-placeholder {
  color: rgba(34, 34, 96, 0.4);
}
.exenseform input::-moz-placeholder,
.exenseform textarea::-moz-placeholder,
.exenseform select::-moz-placeholder {
  color: rgba(34, 34, 96, 0.4);
}
.exenseform input:-ms-input-placeholder,
.exenseform textarea:-ms-input-placeholder,
.exenseform select:-ms-input-placeholder {
  color: rgba(34, 34, 96, 0.4);
}
.exenseform input::placeholder,
.exenseform textarea::placeholder,
.exenseform select::placeholder {
  color: rgba(34, 34, 96, 0.4);
}
.exenseform .input-control input {
  width: 100%;
}

.exenseform .selects {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.exenseform .selects select {
  color: rgba(34, 34, 96, 0.4);
}
.exenseform .selects select:focus,
.exenseform .selects select:active {
  color: rgba(34, 34, 96, 1);
}
.exenseform .submit-btn button {
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
}
.exenseform .submit-btn button:hover {
  background: var(--color-green) !important;
}

.totaldiv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
}
.totaldiv .total-income {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fcf6f9;
  border: 2px solid #ffffff;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem 0;
  font-size: 2rem;
  gap: 0.5rem;
}
.totaldiv .total-income span {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--color-green);
}
.totaldiv .income-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.totaldiv .income-content .incomes {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.fir-div {
  height: 100vh;
  background-image: url(/static/media/bg.5d6e37827d387d3b46c2.png);
  position: relative;
}
.fir-div main {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: rgba(252, 246, 249, 0.78);
  border: 3px solid #ffffff;
  -webkit-backdrop-filter: blur(4.5px);
  backdrop-filter: blur(4.5px);
  border-radius: 32px;
  overflow-x: hidden;
}
.fir-div main::-webkit-scrollbar {
  width: 0;
}

@-webkit-keyframes htauL {
  0% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(1536px, 365px);
    -ms-transform: translate(1536px, 365px);
    transform: translate(1536px, 365px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes htauL {
  0% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(1536px, 365px);
    -ms-transform: translate(1536px, 365px);
    transform: translate(1536px, 365px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: clamp(1rem, 1.5vw, 1.2rem);
  overflow: hidden;
  color: rgba(34, 34, 96, 0.6);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
}
.error {
  color: red;
  -webkit-animation: shake 0.5s ease-in-out;
  animation: shake 0.5s ease-in-out;
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
  50% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  75% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes shake {
  0% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
  50% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  75% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes DzvtB {
  0% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(838px, 365px);
    -ms-transform: translate(838px, 365px);
    transform: translate(838px, 365px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes DzvtB {
  0% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(838px, 365px);
    -ms-transform: translate(838px, 365px);
    transform: translate(838px, 365px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.emp-div {
  width: 70vh;
  height: 70vh;
  position: absolute;
  border-radius: 50%;
  margin-left: -37vh;
  margin-top: -37vh;
  background: linear-gradient(180deg, #f56692 0%, #f2994a 100%);
  -webkit-filter: blur(400px);
  filter: blur(400px);
  -webkit-animation: DzvtB 15s alternate linear infinite;
  animation: DzvtB 15s alternate linear infinite;
}
.bs-datepicker-body {
  background-color: #f6c3f4; /* Change to your preferred background color */
  opacity: 1;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: #333;
  font-family: Raleway;
  text-transform: uppercase;
  font-size: 11px;
}
h1 {
  margin: 0;
  color: #222260;
}

input,
textarea {
  margin: 0.8em auto;
  font-family: inherit;
  text-transform: inherit;
  font-size: inherit;

  display: block;
  width: 280px;
  padding: 0.4em;
  border-radius: 15px;
}
textarea {
  height: 80px;
  resize: none;
}
