.lekOns {
  padding: 2rem;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.jriFEe {
  padding: 2rem 1.5rem;
  width: 100%;
}
.gTlnoH {
  padding: 2rem 1.5rem;
  width: 374px;
  height: 100%;
  background: rgba(252, 246, 249, 0.78);
  border: 3px solid #ffffff;
  -webkit-backdrop-filter: blur(4.5px);
  backdrop-filter: blur(4.5px);
  border-radius: 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 2rem;
}
.gTlnoH .user-con {
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
}
.gTlnoH .user-con img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  background: #fcf6f9;
  border: 2px solid #ffffff;
  padding: 0.2rem;
  box-shadow: 0px 1px 17px rgba(0, 0, 0, 0.06);
}
.gTlnoH .user-con h2 {
  color: rgba(34, 34, 96, 1);
}
.gTlnoH .user-con p {
  color: rgba(34, 34, 96, 0.6);
}
.gTlnoH .menu-items {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.gTlnoH .menu-items li {
  display: grid;
  grid-template-columns: 40px auto;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0.6rem 0;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: rgba(34, 34, 96, 0.6);
  padding-left: 1rem;
  position: relative;
}
.gTlnoH .menu-items li i {
  color: rgba(34, 34, 96, 0.6);
  font-size: 1.4rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.gTlnoH .active {
  color: rgba(34, 34, 96, 1) !important;
}
.gTlnoH .active i {
  color: rgba(34, 34, 96, 1) !important;
}
.gTlnoH .active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background: #222260;
  border-radius: 0 10px 10px 0;
}
.gmlQNc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1rem;
}
.gmlQNc .history-item {
  background: #fcf6f9;
  border: 2px solid #ffffff;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
  padding: 1rem;
  border-radius: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.kyfCIa {
  background: #fcf6f9;
  border: 2px solid #ffffff;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
  padding: 1rem;
  border-radius: 20px;
  height: 100%;
}
.kVHNbd .stats-con {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}
.kVHNbd .stats-con .chart-con {
  grid-column: 1 / 4;
  height: 400px;
}
.kVHNbd .stats-con .chart-con .amount-con {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}
.kVHNbd .stats-con .chart-con .amount-con .income,
.kVHNbd .stats-con .chart-con .amount-con .expense {
  grid-column: span 2;
}
.kVHNbd .stats-con .chart-con .amount-con .income,
.kVHNbd .stats-con .chart-con .amount-con .expense,
.kVHNbd .stats-con .chart-con .amount-con .balance {
  background: #fcf6f9;
  border: 2px solid #ffffff;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  padding: 1rem;
}
.kVHNbd .stats-con .chart-con .amount-con .income p,
.kVHNbd .stats-con .chart-con .amount-con .expense p,
.kVHNbd .stats-con .chart-con .amount-con .balance p {
  font-size: 3.5rem;
  font-weight: 700;
}
.kVHNbd .stats-con .chart-con .amount-con .balance {
  grid-column: 2 / 4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.kVHNbd .stats-con .chart-con .amount-con .balance p {
  color: var(--color-green);
  opacity: 0.6;
  font-size: 4.5rem;
}
.kVHNbd .stats-con .history-con {
  grid-column: 4 / -1;
}
.kVHNbd .stats-con .history-con h2 {
  margin: 1rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.kVHNbd .stats-con .history-con .salary-title {
  font-size: 1.2rem;
}
.kVHNbd .stats-con .history-con .salary-title span {
  font-size: 1.8rem;
}
.kVHNbd .stats-con .history-con .salary-item {
  background: #fcf6f9;
  border: 2px solid #ffffff;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
  padding: 1rem;
  border-radius: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.kVHNbd .stats-con .history-con .salary-item p {
  font-weight: 600;
  font-size: 1.6rem;
}
.hqswlf {
  outline: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.amZsh {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2rem;
}
.amZsh input,
.amZsh textarea,
.amZsh select {
  font-family: inherit;
  font-size: inherit;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid #fff;
  background: transparent;
  resize: none;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
  color: rgba(34, 34, 96, 0.9);
}
.amZsh input::-webkit-input-placeholder,
.amZsh textarea::-webkit-input-placeholder,
.amZsh select::-webkit-input-placeholder {
  color: rgba(34, 34, 96, 0.4);
}
.amZsh input::-moz-placeholder,
.amZsh textarea::-moz-placeholder,
.amZsh select::-moz-placeholder {
  color: rgba(34, 34, 96, 0.4);
}
.amZsh input:-ms-input-placeholder,
.amZsh textarea:-ms-input-placeholder,
.amZsh select:-ms-input-placeholder {
  color: rgba(34, 34, 96, 0.4);
}
.amZsh input::placeholder,
.amZsh textarea::placeholder,
.amZsh select::placeholder {
  color: rgba(34, 34, 96, 0.4);
}
.amZsh .input-control input {
  width: 100%;
}
.amZsh .selects {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.amZsh .selects select {
  color: rgba(34, 34, 96, 0.4);
}
.amZsh .selects select:focus,
.amZsh .selects select:active {
  color: rgba(34, 34, 96, 1);
}
.amZsh .submit-btn button {
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
}
.amZsh .submit-btn button:hover {
  background: var(--color-green) !important;
}
.ibcpLe {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
}
.ibcpLe .total-income {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fcf6f9;
  border: 2px solid #ffffff;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem 0;
  font-size: 2rem;
  gap: 0.5rem;
}
.ibcpLe .total-income span {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--color-green);
}
.ibcpLe .income-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.ibcpLe .income-content .incomes {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.ezQrzZ {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2rem;
}
.ezQrzZ input,
.ezQrzZ textarea,
.ezQrzZ select {
  font-family: inherit;
  font-size: inherit;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid #fff;
  background: transparent;
  resize: none;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
  color: rgba(34, 34, 96, 0.9);
}
.ezQrzZ input::-webkit-input-placeholder,
.ezQrzZ textarea::-webkit-input-placeholder,
.ezQrzZ select::-webkit-input-placeholder {
  color: rgba(34, 34, 96, 0.4);
}
.ezQrzZ input::-moz-placeholder,
.ezQrzZ textarea::-moz-placeholder,
.ezQrzZ select::-moz-placeholder {
  color: rgba(34, 34, 96, 0.4);
}
.ezQrzZ input:-ms-input-placeholder,
.ezQrzZ textarea:-ms-input-placeholder,
.ezQrzZ select:-ms-input-placeholder {
  color: rgba(34, 34, 96, 0.4);
}
.ezQrzZ input::placeholder,
.ezQrzZ textarea::placeholder,
.ezQrzZ select::placeholder {
  color: rgba(34, 34, 96, 0.4);
}
.ezQrzZ .input-control input {
  width: 100%;
}
.ezQrzZ .selects {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.ezQrzZ .selects select {
  color: rgba(34, 34, 96, 0.4);
}
.ezQrzZ .selects select:focus,
.ezQrzZ .selects select:active {
  color: rgba(34, 34, 96, 1);
}
.ezQrzZ .submit-btn button {
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
}
.ezQrzZ .submit-btn button:hover {
  background: var(--color-green) !important;
}
.nbQqU {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
}
.nbQqU .total-income {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fcf6f9;
  border: 2px solid #ffffff;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem 0;
  font-size: 2rem;
  gap: 0.5rem;
}
.nbQqU .total-income span {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--color-green);
}
.nbQqU .income-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.nbQqU .income-content .incomes {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.inODki {
  height: 100vh;
  background-image: url(/static/media/bg.5d6e37827d387d3b46c2.png);
  position: relative;
}
.inODki main {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: rgba(252, 246, 249, 0.78);
  border: 3px solid #ffffff;
  -webkit-backdrop-filter: blur(4.5px);
  backdrop-filter: blur(4.5px);
  border-radius: 32px;
  overflow-x: hidden;
}
.inODki main::-webkit-scrollbar {
  width: 0;
}
.lhAorl {
  width: 70vh;
  height: 70vh;
  position: absolute;
  border-radius: 50%;
  margin-left: -37vh;
  margin-top: -37vh;
  background: linear-gradient(180deg, #f56692 0%, #f2994a 100%);
  -webkit-filter: blur(400px);
  filter: blur(400px);
  -webkit-animation: htauL 15s alternate linear infinite;
  animation: htauL 15s alternate linear infinite;
}
@-webkit-keyframes htauL {
  0% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(1536px, 365px);
    -ms-transform: translate(1536px, 365px);
    transform: translate(1536px, 365px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes htauL {
  0% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(1536px, 365px);
    -ms-transform: translate(1536px, 365px);
    transform: translate(1536px, 365px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
:root {
  --primary-color: #222260;
  --primary-color2: "color: rgba(34, 34, 96, .6)";
  --primary-color3: "color: rgba(34, 34, 96, .4)";
  --color-green: #42ad00;
  --color-grey: #aaa;
  --color-accent: #f56692;
  --color-delete: #ff0000;
}
body {
  font-family: "Nunito", sans-serif;
  font-size: clamp(1rem, 1.5vw, 1.2rem);
  overflow: hidden;
  color: rgba(34, 34, 96, 0.6);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
}
.error {
  color: red;
  -webkit-animation: shake 0.5s ease-in-out;
  animation: shake 0.5s ease-in-out;
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
  50% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  75% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes shake {
  0% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
  50% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  75% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.bMwdaJ {
  width: 70vh;
  height: 70vh;
  position: absolute;
  border-radius: 50%;
  margin-left: -37vh;
  margin-top: -37vh;
  background: linear-gradient(180deg, #f56692 0%, #f2994a 100%);
  -webkit-filter: blur(400px);
  filter: blur(400px);
  -webkit-animation: DzvtB 15s alternate linear infinite;
  animation: DzvtB 15s alternate linear infinite;
}
@-webkit-keyframes DzvtB {
  0% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(838px, 365px);
    -ms-transform: translate(838px, 365px);
    transform: translate(838px, 365px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes DzvtB {
  0% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(838px, 365px);
    -ms-transform: translate(838px, 365px);
    transform: translate(838px, 365px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.eiROgw {
  width: 70vh;
  height: 70vh;
  position: absolute;
  border-radius: 50%;
  margin-left: -37vh;
  margin-top: -37vh;
  background: linear-gradient(180deg, #f56692 0%, #f2994a 100%);
  -webkit-filter: blur(400px);
  filter: blur(400px);
  -webkit-animation: htauL 15s alternate linear infinite;
  animation: htauL 15s alternate linear infinite;
}
.kcGcTR {
  width: 70vh;
  height: 70vh;
  position: absolute;
  border-radius: 50%;
  margin-left: -37vh;
  margin-top: -37vh;
  background: linear-gradient(180deg, #f56692 0%, #f2994a 100%);
  -webkit-filter: blur(400px);
  filter: blur(400px);
  -webkit-animation: DzvtB 15s alternate linear infinite;
  animation: DzvtB 15s alternate linear infinite;
}
.chWwUr {
  width: 70vh;
  height: 70vh;
  position: absolute;
  border-radius: 50%;
  margin-left: -37vh;
  margin-top: -37vh;
  background: linear-gradient(180deg, #f56692 0%, #f2994a 100%);
  -webkit-filter: blur(400px);
  filter: blur(400px);
  -webkit-animation: htauL 15s alternate linear infinite;
  animation: htauL 15s alternate linear infinite;
}
.blvngw {
  width: 70vh;
  height: 70vh;
  position: absolute;
  border-radius: 50%;
  margin-left: -37vh;
  margin-top: -37vh;
  background: linear-gradient(180deg, #f56692 0%, #f2994a 100%);
  -webkit-filter: blur(400px);
  filter: blur(400px);
  -webkit-animation: DzvtB 15s alternate linear infinite;
  animation: DzvtB 15s alternate linear infinite;
}
.khhOcK {
  width: 70vh;
  height: 70vh;
  position: absolute;
  border-radius: 50%;
  margin-left: -37vh;
  margin-top: -37vh;
  background: linear-gradient(180deg, #f56692 0%, #f2994a 100%);
  -webkit-filter: blur(400px);
  filter: blur(400px);
  -webkit-animation: htauL 15s alternate linear infinite;
  animation: htauL 15s alternate linear infinite;
}
.gxwcQv {
  width: 70vh;
  height: 70vh;
  position: absolute;
  border-radius: 50%;
  margin-left: -37vh;
  margin-top: -37vh;
  background: linear-gradient(180deg, #f56692 0%, #f2994a 100%);
  -webkit-filter: blur(400px);
  filter: blur(400px);
  -webkit-animation: DzvtB 15s alternate linear infinite;
  animation: DzvtB 15s alternate linear infinite;
}
.bs-datepicker-body {
  background-color: #f6c3f4; /* Change to your preferred background color */
  opacity: 1;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: #333;
  font-family: Raleway;
  text-transform: uppercase;
  font-size: 11px;
}
h1 {
  margin: 0;
  color: #222260;
}

#contactForm {
  display: none;

  border: 2px solid #222260;
  border-radius: 55px;
  padding: 2em;
  width: 400px;
  height: 300px;
  text-align: center;
  background: #fcf6f9;
  position: fixed;
  z-index: 10000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
#contactForm2 {
  display: none;

  border: 2px solid #222260;
  border-radius: 55px;
  padding: 2em;
  width: 400px;
  height: 209px;
  text-align: center;
  background: #fcf6f9;
  position: fixed;
  z-index: 10000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

input,
textarea {
  margin: 0.8em auto;
  font-family: inherit;
  text-transform: inherit;
  font-size: inherit;

  display: block;
  width: 280px;
  padding: 0.4em;
  border-radius: 15px;
}
textarea {
  height: 80px;
  resize: none;
}

.formBtn {
  width: 140px;
  display: inline-block;
  margin-right: 13px;
  background: #222260;
  border-radius: 23px;
  color: #fff;
  font-weight: 100;
  font-size: 1.2em;
  margin-top: 36px;
  border: none;
  height: 50px;
  width: 81px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
