<div id="root">
  <div class="fir-div App">
    <div class="emp-div"></div>
    <div class="con-in">
      <app-sidebar></app-sidebar>
      <main>
        <div class="upperdiv">
          <div class="con-content1">
            <h2 class="total-income">
              Total Income:
              <span style="color: green">${{ totalIncome$ | async }}</span>
            </h2>
            <div class="income-content">
              <div class="form-container">
                <form
                  *ngIf="isEarning === true"
                  class="formcon"
                  [formGroup]="incomeservice.incomeForm"
                >
                  <div class="input-control">
                    <input
                      type="text"
                      name="title"
                      placeholder="Income Title"
                      value=""
                      formControlName="title"
                    />
                    <div
                      *ngIf="
                        incomeservice.incomeForm.get('title').invalid &&
                        (incomeservice.incomeForm.get('title').dirty ||
                          incomeservice.incomeForm.get('title').touched)
                      "
                      class="text-danger"
                    >
                      <div
                        *ngIf="
                          incomeservice.incomeForm.controls.title.errors
                            ?.required
                        "
                      >
                        Title is required
                      </div>
                    </div>
                  </div>
                  <div class="input-control">
                    <input
                      type="text"
                      name="amount"
                      placeholder="Income Amount"
                      value=""
                      formControlName="amount"
                    />
                    <div
                      *ngIf="
                        incomeservice.incomeForm.get('amount').invalid &&
                        (incomeservice.incomeForm.get('amount').dirty ||
                          incomeservice.incomeForm.get('amount').touched)
                      "
                      class="text-danger"
                    >
                      <div
                        *ngIf="
                          incomeservice.incomeForm.controls.amount.errors
                            ?.required
                        "
                      >
                        amount is required
                      </div>
                      <div
                        *ngIf="
                          incomeservice.incomeForm.controls.amount.errors
                            ?.pattern
                        "
                      >
                        amount must be a number
                      </div>
                    </div>
                  </div>
                  <div class="input-control">
                    <div class="input-group">
                      <input
                        type="date"
                        placeholder="Enter A Date"
                        class="form-control bs-datepicker-body"
                        formControlName="date"
                      />
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="bi bi-calendar-date-fill"></i>
                        </span>
                      </div>
                    </div>
                    <div
                      *ngIf="
                        incomeservice.incomeForm.get('date').invalid &&
                        (incomeservice.incomeForm.get('date').dirty ||
                          incomeservice.incomeForm.get('date').touched)
                      "
                      class="text-danger"
                    >
                      <div
                        *ngIf="
                          incomeservice.incomeForm.controls.date.errors
                            ?.required
                        "
                      >
                        date is required
                      </div>
                    </div>
                  </div>
                  <div class="selects input-control">
                    <select
                      required=""
                      name="category"
                      id="category"
                      formControlName="category"
                    >
                      <option value="">Select Option</option>
                      <option value="salary">Salary</option>
                      <option value="freelancing">Freelancing</option>
                      <option value="investments">Investments</option>
                      <option value="stocks">Stocks</option>
                      <option value="bitcoin">Bitcoin</option>
                      <option value="bank">Bank Transfer</option>
                      <option value="other">Other</option>
                    </select>
                    <div
                      *ngIf="
                        incomeservice.incomeForm.get('category').invalid &&
                        (incomeservice.incomeForm.get('category').dirty ||
                          incomeservice.incomeForm.get('category').touched)
                      "
                      class="text-danger"
                    >
                      <div
                        *ngIf="
                          incomeservice.incomeForm.controls.category.errors
                            ?.required
                        "
                      >
                        category is required
                      </div>
                    </div>
                  </div>
                  <div class="input-control">
                    <textarea
                      name="description"
                      placeholder="Add A Reference"
                      id="description"
                      cols="30"
                      rows="4"
                      formControlName="description"
                    ></textarea>
                    <div
                      *ngIf="
                        incomeservice.incomeForm.get('description').invalid &&
                        (incomeservice.incomeForm.get('description').dirty ||
                          incomeservice.incomeForm.get('description').touched)
                      "
                      class="text-danger"
                    >
                      <div
                        *ngIf="
                          incomeservice.incomeForm.controls.description.errors
                            ?.required
                        "
                      >
                        description is required
                      </div>
                      <div
                        *ngIf="
                          incomeservice.incomeForm.controls.description.errors
                            ?.maxlength
                        "
                      >
                        description length must be less then 40
                      </div>
                    </div>
                  </div>
                  <div class="submit-btn">
                    <button
                      class="formbtn"
                      style="
                        background-color: rgb(228, 18, 204);
                        padding: 0.8rem 1.6rem;
                        border-radius: 30px;
                      "
                      (click)="save()"
                    >
                      <i class="fa-solid fa-plus"></i>Add Income
                    </button>
                  </div>
                </form>
              </div>
              <div class="incomes">
                <app-items
                  *ngFor="let income of incomes$ | async"
                  [item]="income"
                  [deleteMethod]="deleteMethod"
                  [updateMethod]="updateIncome"
                ></app-items>
              </div>
            </div>
          </div>
        </div>
        <li *ngIf="totalItems > 4" style="margin-left: 505px">
          <pagination-controls
            (pageChange)="currentPage = $event"
          ></pagination-controls>
        </li>
      </main>
    </div>
  </div>
</div>
