<section class="h-100 gradient-form" style="background-color: #eee">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <img
                    width="80"
                    height="70"
                    src="https://img.icons8.com/matisse/100/rupee.png"
                    alt="rupee"
                  />
                  <h4 class="mt-1 mb-5 pb-1">CollectiveCoin</h4>
                </div>

                <form [formGroup]="loginForm">
                  <p>Please login to your account</p>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example11">Email</label>
                    <input
                      type="email"
                      id="form2Example11"
                      class="form-control"
                      placeholder="email address"
                      formControlName="email"
                    />

                    <div
                      *ngIf="
                        loginForm.get('email').invalid &&
                        (loginForm.get('email').dirty ||
                          loginForm.get('email').touched)
                      "
                      class="text-danger"
                    >
                      <div *ngIf="loginForm.controls.email.errors?.required">
                        Email is required
                      </div>
                      <div
                        *ngIf="
                          loginForm.controls.email.errors?.email &&
                          loginForm.controls.email.touched
                        "
                      >
                        please provide valid email
                      </div>
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example22"
                      >Password</label
                    >
                    <input
                      type="password"
                      id="form2Example22"
                      class="form-control"
                      formControlName="password"
                      placeholder="*******"
                    />

                    <div
                      *ngIf="
                        loginForm.get('password').invalid &&
                        (loginForm.get('password').dirty ||
                          loginForm.get('password').touched)
                      "
                      class="text-danger"
                    >
                      <div *ngIf="loginForm.controls.password.errors?.required">
                        Password is required
                      </div>
                      <div
                        *ngIf="
                          loginForm.controls.password.errors?.pattern &&
                          loginForm.controls.password.touched
                        "
                      >
                        Password must contain at least 8 characters, including
                        at least one letter and one number
                      </div>
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example11"
                      >family code</label
                    >
                    <input
                      type="text"
                      id="form2Example11"
                      class="form-control"
                      placeholder="family code"
                      formControlName="familycode"
                      required
                    />

                    <div
                      *ngIf="
                        loginForm.get('familycode').invalid &&
                        (loginForm.get('familycode').dirty ||
                          loginForm.get('familycode').touched)
                      "
                      class="text-danger"
                    >
                      <div
                        *ngIf="loginForm.controls.familycode.errors?.required"
                      >
                        family code is required
                      </div>
                      <div
                        *ngIf="
                          loginForm.controls.familycode.errors?.minlength &&
                          loginForm.controls.familycode.touched
                        "
                      >
                        FamilyCode is must be 5 character long
                      </div>
                      <div
                        *ngIf="
                          loginForm.controls.familycode.errors?.maxlength &&
                          loginForm.controls.familycode.touched
                        "
                      >
                        FamilyCode is must be 5 character long
                      </div>
                    </div>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button
                      style="width: 400px; border-radius: 20px"
                      class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                      type="button"
                      (click)="save()"
                    >
                      Log in
                    </button>
                    <div class="text-center">
                      <a class="text-muted" (click)="openbox3('contactForm')"
                        >Forgot password?</a
                      >
                    </div>
                  </div>

                  <div
                    class="d-flex align-items-center justify-content-center pb-4"
                  >
                    <p class="mb-0 me-2">Don't have an account?</p>
                    <button
                      style="border: 20px; border-radius: 10px"
                      type="button"
                      class="btn btn-outline-danger"
                      routerLink="/signup"
                    >
                      Create new
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Welcome to CollectiveCoin</h4>
                <p class="small mb-0">
                  Your Family's Financial Management Solution CollectiveCoin is
                  your all-in-one platform designed to simplify the management
                  of your family's finances. Say goodbye to the hassle of
                  juggling multiple spreadsheets or apps – with CollectiveCoin,
                  you can effortlessly track your finances in one place.
                </p>
                <h4 class="mb-4">Why Choose CollectiveCoin?</h4>
                <p class="small mb-0">
                  At CollectiveCoin, we understand the importance of financial
                  stability and transparency within families. Our user-friendly
                  interface and powerful features empower you to take control of
                  your finances and achieve your financial dreams, together.
                  Join CollectiveCoin today and embark on your journey towards
                  stress free accounting
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="contactForm">
  <h1 style="font-size: 30px">Forgot Your Password...!</h1>
  <small style="color: #222260; font-size: 12px"
    >please provide your email here</small
  >

  <form [formGroup]="forgotpasswordForm">
    <input
      class="formInput"
      placeholder="Email"
      type="email"
      formControlName="email"
    />
    <div
      *ngIf="
        forgotpasswordForm.get('email').invalid &&
        (forgotpasswordForm.get('email').dirty ||
          forgotpasswordForm.get('email').touched)
      "
      class="text-danger"
    >
      <div *ngIf="forgotpasswordForm.controls.email.errors?.required">
        Email is required
      </div>
      <div
        *ngIf="
          forgotpasswordForm.controls.email.errors?.email &&
          forgotpasswordForm.controls.email.touched
        "
      >
        please provide valid email
      </div>
    </div>
    <button class="formBtn" (click)="forgotpassword()">send</button>
    <button
      class="formBtn"
      (click)="closebox3('contactForm')"
      style="margin-left: 10px"
    >
      close
    </button>
  </form>
</div>

<div
  id="overlay"
  class="overlay"
  (click)="closebox3('contactForm')"
  (click)="closebox3('contactForm')"
></div>
