<header>
  <nav class="navbar">
    <div class="container">
      <h1 class="logo">CollectiveCoin</h1>
      <ul class="nav-links">
        <li><a routerLink="/login" class="btn">Get Started</a></li>
      </ul>
    </div>
  </nav>
</header>

<main>
  <section class="hero">
    <div class="container">
      <h1>Welcome to CollectiveCoin</h1>
      <p>Empowering families to manage finances collectively.</p>
      <a routerLink="/login" class="btn">Get Started</a>
    </div>
  </section>

  <section id="features" class="features">
    <div class="container">
      <h2>Features</h2>
      <div class="feature-grid">
        <div class="feature">
          <img
            width="48"
            height="63"
            src="https://img.icons8.com/doodle/48/tax.png"
            alt="tax"
          />
          <h3>Expense Tracking</h3>
          <p>
            Effortlessly track your expenpxses with detailed categorization.
          </p>
        </div>
        <div class="feature">
          <img
            width="48"
            height="63"
            src="https://img.icons8.com/color/48/budget.png"
            alt="budget"
          />
          <h3>Income Management</h3>
          <p>
            Manage and categorize your income sources for better financial
            planning.
          </p>
        </div>
        <div class="feature">
          <img
            width="48"
            height="63"
            src="https://img.icons8.com/pulsar-gradient/48/budget.png"
            alt="budget"
          />
          <h3>Budget Management</h3>
          <p>
            Create, customize, and track your monthly budgets to achieve
            financial goals.
          </p>
        </div>
        <div class="feature">
          <img
            width="48"
            height="63"
            src="https://img.icons8.com/external-others-cattaleeya-thongsriphong/64/external-Transactions-currency-others-cattaleeya-thongsriphong.png"
            alt="external-Transactions-currency-others-cattaleeya-thongsriphong"
          />
          <h3>Transaction History</h3>
          <p>
            Access detailed transaction history for informed decision-making.
          </p>
        </div>
        <div class="feature">
          <img
            width="48"
            height="63"
            src="https://img.icons8.com/external-gradients-pause-08/64/external-charts-business-gradients-pause-08-3.png"
            alt="external-charts-business-gradients-pause-08-3"
          />
          <h3>Financial Overview</h3>
          <p>
            Visualize your family's financial status with intuitive charts and
            reports.
          </p>
        </div>
        <div class="feature">
          <img
            width="48"
            height="63"
            src="https://img.icons8.com/papercut/60/new-post.png"
            alt="new-post"
          />
          <h3>Email Notifications</h3>
          <p>
            Stay updated with timely email notifications on important financial
            activities.
          </p>
        </div>
        <div class="feature">
          <img
            width="48"
            height="63"
            src="https://img.icons8.com/arcade/64/group-background-selected.png"
            alt="group-background-selected"
          />
          <h3>Members</h3>
          <p>Stay updated about Members with you and their responsibilities</p>
        </div>
        <div class="feature">
          <img
            width="48"
            height="63"
            src="https://img.icons8.com/arcade/64/uninstalling-updates.png"
            alt="uninstalling-updates"
          />
          <h3>Update</h3>
          <p>Can update and filter the transactions that has been added</p>
        </div>
      </div>
    </div>
  </section>

  <section id="about" class="about">
    <div class="container">
      <h2>About Us</h2>
      <p>
        CollectiveCoin is a revolutionary platform designed to streamline family
        finance management. Our mission is to empower families to achieve
        financial harmony through collaborative budgeting, smart expense
        tracking, and insightful financial analysis.
      </p>
    </div>
  </section>

  <section id="why-choose-us" class="why-choose-us">
    <div class="container">
      <h2>Why Choose Us</h2>
      <div class="why-choose-us-grid">
        <div class="why-choose-us-item">
          <img
            width="48"
            height="63"
            src="https://img.icons8.com/nolan/64/cyber-security.png"
            alt="cyber-security"
          />
          <h3>Security & Privacy</h3>
          <p>
            Your financial data is protected with state-of-the-art security
            measures.
          </p>
        </div>
        <div class="why-choose-us-item">
          <img
            width="48"
            height="63"
            src="https://img.icons8.com/fluency/48/channel-mosaic.png"
            alt="channel-mosaic"
          />
          <h3>User-Friendly Interface</h3>
          <p>
            Our user-friendly interface ensures effortless navigation and usage
            for all users.
          </p>
        </div>
        <div class="why-choose-us-item">
          <img
            width="48"
            height="63"
            src="https://img.icons8.com/color/48/sorting-options.png"
            alt="sorting-options"
          />
          <h3>Customizable Features</h3>
          <p>
            Customize your dashboard and reports to match your unique financial
            goals and preferences.
          </p>
        </div>
        <div class="why-choose-us-item">
          <img
            width="48"
            height="63"
            src="https://img.icons8.com/pulsar-color/48/hotline.png"
            alt="hotline"
          />
          <h3>24/7 Customer Support</h3>
          <p>
            Get round-the-clock assistance from our dedicated support team
            whenever you need it.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>

<footer>
  <div class="container">
    <p>&copy; 2024 CollectiveCoin. All rights reserved.</p>
    <p>
      Contact us at: <a href="tel:+8866468649">+918866468649</a> | Email:
      <a
        href="anilbariya1980
      @gmail.com"
        >anilbariya1980 gmail.com</a
      >
    </p>
  </div>
</footer>
