<header>
  <nav class="navbar">
    <div class="container">
      <h1 class="logo">CollectiveCoin</h1>
      <ul class="nav-links">
        <li><a routerLink="/login" class="btn">Get Started</a></li>
      </ul>
    </div>
  </nav>
</header>

<section class="hero">
  <div class="container">
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-bs-ride="carousel"
      data-bs-interval="3000"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
          style="background-color: red"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
          style="background-color: red"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
          style="background-color: red"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="3"
          aria-label="Slide 4"
          style="background-color: red"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="4"
          aria-label="Slide 5"
          style="background-color: red"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="5"
          aria-label="Slide 6"
          style="background-color: red"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="assets/Screenshot (161).png"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="assets/Screenshot (162).png"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="assets/Screenshot (163).png"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="assets/Screenshot (164).png"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="assets/Screenshot (165).png"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="assets/Screenshot (166).png"
            class="d-block w-100"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>

<section class="features" id="features">
  <div class="features">
    <h2>KEY FEATURES</h2>
    <div class="featur">
      <div class="row">
        <div class="col-lg-6 text-center">
          <div class="feat feature-box-1" style="padding-right: 5%">
            <div class="fhead">
              <img
                src="https://img.icons8.com/nolan/64/order-shipped.png"
                alt="order-shipped"
              />
              <span> EXPENSE TRACKING </span>
            </div>
            <div class="finfo">
              <blockquote>
                Effortlessly track your expenpxses with detailed categorization.
              </blockquote>
            </div>
          </div>
        </div>
        <div class="col-lg-6 text-center">
          <div class="feat feature-box-1">
            <div class="fhead">
              <img src="assets/balance.png" alt="" />
              <span> INCOME MANAGEMENT </span>
            </div>
            <div class="finfo">
              <blockquote>
                Manage and categorize your income sources for better financial
                planning.
              </blockquote>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 text-center">
          <div class="feat feature-box-1">
            <div class="fhead">
              <img
                src="https://img.icons8.com/pulsar-gradient/48/budget.png"
                alt=""
              />
              <span> GREAT SUPPORTS </span>
            </div>
            <div class="finfo">
              <blockquote>
                Our dedicated team ensures collaboration, understanding your
                needs,bringing your vision to life care.
              </blockquote>
            </div>
          </div>
        </div>
        <div class="col-lg-6 text-center">
          <div class="feat feature-box-1">
            <div class="fhead">
              <img
                src="https://img.icons8.com/color/48/order-history.png"
                alt="order-history"
              />
              <span> TRANSACTION HISTORY </span>
            </div>
            <div class="finfo">
              <blockquote>
                Access detailed transaction history for informed
                decision-making.
              </blockquote>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 text-center">
          <div class="feat feature-box-1">
            <div class="fhead">
              <img
                src="https://img.icons8.com/dusk/64/overview-pages-2.png"
                alt="overview-pages-2"
              />
              <span>FINANCIAL OVERVIEW</span>
            </div>
            <div class="finfo">
              <blockquote>
                Visualize your family's financial status with intuitive charts
                and reports.
              </blockquote>
            </div>
          </div>
        </div>
        <div class="col-lg-6 text-center">
          <div class="feat feature-box-1">
            <div class="fhead">
              <img
                src="https://img.icons8.com/emoji/48/e-mail.png"
                alt="e-mail"
              />
              <span> EMAIL NOTIFICATION </span>
            </div>
            <div class="finfo">
              <blockquote>
                Stay updated with timely email notifications on important
                financial activities.
              </blockquote>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 text-center">
          <div class="feat feature-box-1">
            <div class="fhead">
              <img
                src="https://img.icons8.com/stickers/100/group-foreground-selected.png"
                alt="group-foreground-selected"
              />
              <span> MEMBERS </span>
            </div>
            <div class="finfo">
              <blockquote>
                Stay updated about Members with you and their responsibilities
              </blockquote>
            </div>
          </div>
        </div>
        <div class="col-lg-6 text-center">
          <div class="feat feature-box-1">
            <div class="fhead">
              <img src="assets/system-update.png" alt="" />
              <span> UPDATE </span>
            </div>
            <div class="finfo">
              <blockquote>
                Can update and filter the transactions that has been added
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="abouthead">
          <blockquote>ABOUT US</blockquote>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="aboutinfo">
          <blockquote>
            CollectiveCoin is a revolutionary platform designed to streamline
            family finance management. Our mission is to empower families to
            achieve financial harmony through collaborative budgeting, smart
            expense tracking, and insightful financial analysis.
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="why-choose-us" id="why-choose-us">
  <h2>Why Choose US</h2>
  <div class="row">
    <div class="col-lg-3">
      <div class="winfo">
        <img
          style="height: 35px; width: 35px"
          src="https://img.icons8.com/emoji/48/shield-emoji.png"
          alt="shield-emoji"
        />
        <span>SECURITY & PRIVACY</span>
        <blockquote>
          Your financial data is protected with state-of-the-art security .
        </blockquote>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="winfo">
        <img
          style="height: 35px; width: 35px"
          src="https://img.icons8.com/nolan/64/login-rounded-right.png"
          alt="login-rounded-right"
        />
        <span>USER-FRIENDLY INTERFACE</span>
        <blockquote>
          Our user-friendly interface ensures effortless navigation and usage
          all users.
        </blockquote>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="winfo">
        <img
          style="height: 35px; width: 35px"
          src="https://img.icons8.com/color-glass/48/logistics.png"
          alt="logistics"
        />
        <span>CUSTOMISABLE FEATURES</span>
        <blockquote>
          Customize your dashboard and reports to match your unique financial s
          and preferences.
        </blockquote>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="winfo">
        <img
          style="height: 35px; width: 35px"
          src="https://img.icons8.com/doodle/48/24-7-open-sign-.png"
          alt="24-7-open-sign-"
        />
        <span>24/7 CUSTOMER SUPPORT</span>
        <blockquote>
          Get round-the-clock assistance from our dedicated support team ever
          you need it.
        </blockquote>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <p>&copy; 2024 CollectiveCoin. All rights reserved.</p>
    <p>
      Contact us at: <a href="tel:+8866468649">+918866468649</a> | Email:
      <a
        href="anilbariya1980
      @gmail.com"
        >anilbariya1980 gmail.com</a
      >
    </p>
  </div>
</footer>
