<div id="root">
  <div class="fir-div App">
    <div class="emp-div"></div>
    <div class="con-in">
      <app-sidebar></app-sidebar>
      <main>
        <div class="upperdiv">
          <div class="con-content1">
            <h2
              class="total-income"
              *ngIf="budgetservice.overbudget.length > 0"
            >
              <ul class="scroll-container">
                <li *ngFor="let obj of budgetservice.overbudget">
                  you are going over budget for
                  <span style="color: red">{{ obj.category }} </span> by
                  <span style="color: red"
                    >{{ obj.amount
                    }}<svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="40"
                      height="40"
                      fill="currentColor"
                      class="bi bi-currency-rupee"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z"
                      />
                    </svg> </span
                  >,
                </li>
              </ul>
            </h2>
            <div class="income-content">
              <div class="form-container">
                <form
                  *ngIf="isEarning === true"
                  class="formcon"
                  [formGroup]="budgetservice.budgetForm"
                >
                  <div class="input-control">
                    <input
                      type="text"
                      name="title"
                      placeholder="Budget Title"
                      value=""
                      formControlName="title"
                    />
                    <div
                      *ngIf="
                        budgetservice.budgetForm.get('title').invalid &&
                        (budgetservice.budgetForm.get('title').dirty ||
                          budgetservice.budgetForm.get('title').touched)
                      "
                      class="text-danger"
                    >
                      <div
                        *ngIf="
                          budgetservice.budgetForm.controls.title.errors
                            ?.required
                        "
                      >
                        Title is required
                      </div>
                    </div>
                  </div>
                  <div class="input-control">
                    <input
                      type="text"
                      name="amount"
                      placeholder="Budget Amount"
                      value=""
                      formControlName="amount"
                    />
                    <div
                      *ngIf="
                        budgetservice.budgetForm.get('amount').invalid &&
                        (budgetservice.budgetForm.get('amount').dirty ||
                          budgetservice.budgetForm.get('amount').touched)
                      "
                      class="text-danger"
                    >
                      <div
                        *ngIf="
                          budgetservice.budgetForm.controls.amount.errors
                            ?.required
                        "
                      >
                        amount is required
                      </div>
                      <div
                        *ngIf="
                          budgetservice.budgetForm.controls.amount.errors
                            ?.pattern
                        "
                      >
                        amount must be a number
                      </div>
                    </div>
                  </div>
                  <div class="input-control">
                    <div class="input-group">
                      <input
                        type="date"
                        placeholder="Enter A Date"
                        class="form-control bs-datepicker-body"
                        formControlName="date"
                      />
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="bi bi-calendar-date-fill"></i>
                        </span>
                      </div>
                    </div>
                    <div
                      *ngIf="
                        budgetservice.budgetForm.get('date').invalid &&
                        (budgetservice.budgetForm.get('date').dirty ||
                          budgetservice.budgetForm.get('date').touched)
                      "
                      class="text-danger"
                    >
                      <div
                        *ngIf="
                          budgetservice.budgetForm.controls.date.errors
                            ?.required
                        "
                      >
                        date is required
                      </div>
                    </div>
                  </div>
                  <div class="selects input-control">
                    <select
                      required=""
                      name="category"
                      id="category"
                      formControlName="category"
                    >
                      <option value="" disabled="">Select Option</option>
                      <option value="education">Education</option>
                      <option value="groceries">Groceries</option>
                      <option value="health">Health</option>
                      <option value="subscriptions">Subscriptions</option>
                      <option value="monthlybills  ">Monthly Bills</option>
                      <option value="shopping">Shopping</option>
                      <option value="travelling">Travelling</option>
                      <option value="other">Other</option>
                    </select>
                    <div
                      *ngIf="
                        budgetservice.budgetForm.get('category').invalid &&
                        (budgetservice.budgetForm.get('category').dirty ||
                          budgetservice.budgetForm.get('category').touched)
                      "
                      class="text-danger"
                    >
                      <div
                        *ngIf="
                          budgetservice.budgetForm.controls.category.errors
                            ?.required
                        "
                      >
                        category is required
                      </div>
                    </div>
                  </div>
                  <div class="input-control">
                    <textarea
                      name="description"
                      placeholder="Add A Reference"
                      id="description"
                      cols="30"
                      rows="4"
                      formControlName="description"
                    ></textarea>
                    <div
                      *ngIf="
                        budgetservice.budgetForm.get('description').invalid &&
                        (budgetservice.budgetForm.get('description').dirty ||
                          budgetservice.budgetForm.get('description').touched)
                      "
                      class="text-danger"
                    >
                      <div
                        *ngIf="
                          budgetservice.budgetForm.controls.description.errors
                            ?.required
                        "
                      >
                        description is required
                      </div>
                      <div
                        *ngIf="
                          budgetservice.budgetForm.controls.description.errors
                            ?.maxlength
                        "
                      >
                        description length must be less then 40
                      </div>
                    </div>
                  </div>
                  <div class="submit-btn">
                    <button class="formbtn" (click)="save()">
                      <i class="fa-solid fa-plus"></i>Add Budget
                    </button>
                  </div>
                </form>
              </div>
              <div class="incomes">
                <app-items
                  *ngFor="
                    let budget of budgetservice.data
                      | paginate
                        : {
                            itemsPerPage: 4,
                            currentPage: currentPage,
                            totalItems: totalItems
                          }
                  "
                  [item]="budget"
                  [deleteMethod]="budgetservice.deleteBudget"
                  [updateMethod]="updateBudget"
                ></app-items>
              </div>
            </div>
          </div>
        </div>
        <li *ngIf="totalItems > 4" style="margin-left: 505px">
          <pagination-controls
            (pageChange)="currentPage = $event"
          ></pagination-controls>
        </li>
        <app-bar-chart></app-bar-chart>
      </main>
    </div>
  </div>
</div>
