<div id="root">
  <div class="fir-div App">
    <div class="emp-div"></div>
    <div class="con-in">
      <app-sidebar></app-sidebar>
      <main>
        <div class="user-con" style="margin-left: 417px; margin-top: 10px">
          <img
            style="
              height: 150px;
              width: 150px;
              margin-left: 10px;
              border-radius: 90px;
            "
            src="{{ photo }}"
            alt="https://img.icons8.com/color/48/circled-user-male-skin-type-3--v1.png"
          />
          <div>
            <button
              style="
                background: #222260;
                color: #fcf6f9;
                border: none;
                margin-left: -20px;
                border-radius: 7px;
                margin-bottom: 7px;
                margin-top: 5px;
                width: 227px;
                height: 30px;
              "
              (click)="fileInput.click()"
            >
              Upload Image
            </button>
            <input
              #fileInput
              type="file"
              style="display: none"
              (change)="updateImage($event)"
            />
            <h2 style="margin-left: 17px">{{ username }}</h2>
            <p style="margin-left: 17px">{{ email }}</p>
          </div>
        </div>

        <div class="form-container">
          <div class="formcon">
            <h2>Update Profile</h2>
            <form action="" [formGroup]="updateProfileForm">
              <div
                class="form-group"
                style="display: inline-flex; flex-direction: row"
              >
                <label for="fullName"
                  >Name :
                  <input
                    type="text"
                    class="form-control"
                    id="fullName"
                    placeholder="Enter name"
                    formControlName="name"
                /></label>
              </div>
              <div
                class="form-group"
                style="display: inline-flex; flex-direction: row"
              >
                <label for="eMail"
                  >Email :<input
                    type="email"
                    class="form-control"
                    id="eMail"
                    placeholder="Enter email ID"
                    formControlName="email"
                /></label>

                <div
                  *ngIf="
                    updateProfileForm.get('email').invalid &&
                    (updateProfileForm.get('email').dirty ||
                      updateProfileForm.get('email').touched)
                  "
                  class="text-danger"
                >
                  <div *ngIf="loginForm.controls.email.errors?.required">
                    Email is required
                  </div>
                  <div
                    *ngIf="
                      updateProfileForm.controls.email.errors?.email &&
                      updateProfileForm.controls.email.touched
                    "
                  >
                    please provide valid email
                  </div>
                </div>
              </div>
              <div class="text-right">
                <button type="button" class="canbtn">Cancel</button>
                <button type="button" class="subbtn" (click)="updateProfile()">
                  Update
                </button>
              </div>
            </form>

            <h2>Update Password</h2>
            <form
              action=""
              [formGroup]="updatePasswordForm"
              style="
                justify-content: space-around;
                display: flex;
                flex-direction: column;
              "
            >
              <div
                class="form-group"
                style="display: inline-flex; flex-direction: row"
              >
                <label for="currentPassword"
                  >Current Password :
                  <input
                    type="password"
                    class="form-control"
                    id="currentPassword"
                    placeholder="Current Password"
                    formControlName="passwordCurrent"
                  />
                </label>
                <div
                  *ngIf="
                    updatePasswordForm.get('passwordCurrent').invalid &&
                    (updatePasswordForm.get('passwordCurrent').dirty ||
                      updatePasswordForm.get('passwordCurrent').touched)
                  "
                  class="text-danger"
                >
                  <div
                    *ngIf="
                      updatePasswordForm.controls.passwordCurrent.errors
                        ?.required
                    "
                  >
                    Password is required
                  </div>
                  <div
                    *ngIf="
                      updatePasswordForm.controls.passwordCurrent.errors
                        ?.pattern &&
                      updatePasswordForm.controls.passwordCurrent.touched
                    "
                  >
                    Password must contain at least 8 characters, including at
                    least one letter and one number
                  </div>
                </div>
              </div>
              <div
                class="form-group"
                style="display: inline-flex; flex-direction: row"
              >
                <label for="newPassword"
                  >New Password :
                  <input
                    type="password"
                    class="form-control"
                    id="newPassword"
                    placeholder="New Password"
                    formControlName="password"
                  />
                </label>
                <div
                  *ngIf="
                    updatePasswordForm.get('password').invalid &&
                    (updatePasswordForm.get('password').dirty ||
                      updatePasswordForm.get('password').touched)
                  "
                  class="text-danger"
                >
                  <div
                    *ngIf="
                      updatePasswordForm.controls.password.errors?.required
                    "
                  >
                    Password is required
                  </div>
                  <div
                    *ngIf="
                      updatePasswordForm.controls.password.errors?.pattern &&
                      updatePasswordForm.controls.password.touched
                    "
                  >
                    Password must contain at least 8 characters, including at
                    least one letter and one number
                  </div>
                </div>
              </div>
              <div
                class="form-group"
                style="display: inline-flex; flex-direction: row"
              >
                <label for="confirmPassword"
                  >Confirm New Password :
                  <input
                    type="password"
                    class="form-control"
                    id="confirmPassword"
                    placeholder="Confirm New Password"
                    formControlName="passwordConfirm"
                /></label>
                <div
                  *ngIf="
                    updatePasswordForm.get('passwordConfirm').invalid &&
                    (updatePasswordForm.get('passwordConfirm').dirty ||
                      updatePasswordForm.get('passwordConfirm').touched)
                  "
                  class="text-danger"
                >
                  <div
                    *ngIf="
                      updatePasswordForm.controls.passwordConfirm.errors
                        ?.required
                    "
                  >
                    Password is required
                  </div>
                  <div
                    *ngIf="
                      updatePasswordForm.controls.passwordConfirm.errors
                        ?.pattern &&
                      updatePasswordForm.controls.passwordConfirm.touched
                    "
                  >
                    Password must contain at least 8 characters, including at
                    least one letter and one number
                  </div>
                </div>
              </div>
              <div class="text-right">
                <button type="button" class="canbtn">Cancel</button>
                <button type="button" class="subbtn" (click)="updatePassword()">
                  Update
                </button>
              </div>
            </form>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
