<div id="root">
  <div class="fir-div App">
    <div class="emp-div"></div>
    <div class="con-in">
      <app-sidebar></app-sidebar>
      <main>
        <div class="totaldiv">
          <div class="con-content1">
            <h2 class="total-income">
              Total Expense:
              <span style="color: red">${{ expenseservice.totalexpense }}</span>
            </h2>
            <div class="income-content">
              <div class="form-container">
                <form
                  class="exenseform"
                  [formGroup]="expenseservice.expenseForm"
                >
                  <div class="input-control">
                    <input
                      type="text"
                      name="title"
                      placeholder="Expense Title"
                      value=""
                      formControlName="title"
                    />
                    <div
                      *ngIf="
                        expenseservice.expenseForm.get('title').invalid &&
                        (expenseservice.expenseForm.get('title').dirty ||
                          expenseservice.expenseForm.get('title').touched)
                      "
                      class="text-danger"
                    >
                      <div
                        *ngIf="
                          expenseservice.expenseForm.controls.title.errors
                            ?.required
                        "
                      >
                        Title is required
                      </div>
                    </div>
                  </div>
                  <div class="input-control">
                    <input
                      type="text"
                      name="amount"
                      placeholder="Expense Amount"
                      value=""
                      formControlName="amount"
                    />
                    <div
                      *ngIf="
                        expenseservice.expenseForm.get('amount').invalid &&
                        (expenseservice.expenseForm.get('amount').dirty ||
                          expenseservice.expenseForm.get('amount').touched)
                      "
                      class="text-danger"
                    >
                      <div
                        *ngIf="
                          expenseservice.expenseForm.controls.amount.errors
                            ?.required
                        "
                      >
                        amount is required
                      </div>
                      <div
                        *ngIf="
                          expenseservice.expenseForm.controls.amount.errors
                            ?.pattern
                        "
                      >
                        amount must be a number
                      </div>
                    </div>
                  </div>
                  <div class="input-control">
                    <div class="input-group">
                      <input
                        type="date"
                        placeholder="Enter A Date"
                        class="form-control bs-datepicker-body"
                        formControlName="date"
                      />
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="bi bi-calendar-date-fill"></i>
                        </span>
                      </div>
                    </div>
                    <div
                      *ngIf="
                        expenseservice.expenseForm.get('date').invalid &&
                        (expenseservice.expenseForm.get('date').dirty ||
                          expenseservice.expenseForm.get('date').touched)
                      "
                      class="text-danger"
                    >
                      <div
                        *ngIf="
                          expenseservice.expenseForm.controls.date.errors
                            ?.required
                        "
                      >
                        date is required
                      </div>
                    </div>
                  </div>
                  <div class="selects input-control">
                    <select
                      required=""
                      name="category"
                      id="category"
                      formControlName="category"
                      (change)="onCategoryChange($event)"
                    >
                      <option value="" disabled="">Select Option</option>
                      <option value="education">Education</option>
                      <option value="groceries">Groceries</option>
                      <option value="health">Health</option>
                      <option value="subscriptions">Subscriptions</option>
                      <option value="monthlybills  ">Monthly Bills</option>
                      <option value="shopping">Shopping</option>
                      <option value="travelling">Travelling</option>
                      <option value="other">Other</option>
                    </select>
                    <div
                      *ngIf="
                        expenseservice.expenseForm.get('category').invalid &&
                        (expenseservice.expenseForm.get('category').dirty ||
                          expenseservice.expenseForm.get('category').touched)
                      "
                      class="text-danger"
                    >
                      <div
                        *ngIf="
                          expenseservice.expenseForm.controls.category.errors
                            ?.required
                        "
                      >
                        category is required
                      </div>
                    </div>
                  </div>
                  <!--  -->
                  <div *ngIf="showCheckbox">
                    <label
                      for="markAsPaid"
                      style="display: inline-block; margin-right: 10px"
                      >Mark as Paid</label
                    >
                    <input
                      type="checkbox"
                      name="markAsPaid"
                      id="markAsPaid"
                      formControlName="markAspaid"
                      checked="checked"
                    />
                    <div
                      *ngIf="
                        expenseservice.expenseForm.get('markAspaid').value ===
                        false
                      "
                    >
                      <input
                        type="date"
                        placeholder="Due Date"
                        class="form-control"
                        formControlName="duedate"
                      />
                    </div>
                  </div>

                  <div class="input-control">
                    <textarea
                      name="description"
                      placeholder="Add A Reference"
                      id="description"
                      cols="30"
                      rows="4"
                      formControlName="description"
                    ></textarea>
                    <div
                      *ngIf="
                        expenseservice.expenseForm.get('description').invalid &&
                        (expenseservice.expenseForm.get('description').dirty ||
                          expenseservice.expenseForm.get('description').touched)
                      "
                      class="text-danger"
                    >
                      <div
                        *ngIf="
                          expenseservice.expenseForm.controls.description.errors
                            ?.required
                        "
                      >
                        description is required
                      </div>
                      <div
                        *ngIf="
                          expenseservice.expenseForm.controls.description.errors
                            ?.maxlength
                        "
                      >
                        description length must be less then 40
                      </div>
                    </div>
                  </div>
                  <div class="submit-btn">
                    <button
                      class="formbtn"
                      style="
                        background-color: rgb(228, 18, 204);
                        padding: 0.8rem 1.6rem;
                        border-radius: 30px;
                      "
                      (click)="saveadd()"
                    >
                      <i class="fa-solid fa-plus"></i>Add Expense
                    </button>
                  </div>
                </form>
              </div>
              <div class="incomes">
                <app-items
                  *ngFor="
                    let expense of expenseservice.data
                      | paginate
                        : {
                            itemsPerPage: 4,
                            currentPage: currentPage,
                            totalItems: totalItems
                          }
                  "
                  [item]="expense"
                  [deleteMethod]="expenseservice.deleteExpense"
                  [updateMethod]="updateExpense"
                ></app-items>
              </div>
            </div>
          </div>
        </div>
        <li *ngIf="totalItems > 4" style="margin-left: 505px">
          <pagination-controls
            (pageChange)="currentPage = $event"
          ></pagination-controls>
        </li>
      </main>
    </div>
  </div>
</div>
