<div id="root">
  <div class="fir-div App">
    <div class="emp-div1"></div>
    <div class="con-in">
      <app-sidebar></app-sidebar>
      <main>
        <div class="btn-con" style="display: flex; justify-content: flex-end">
          <button class="filbtn" (click)="toggleFilters()">filter</button>
          <button class="filbtn" (click)="downloadTransactionsPDF()">
            Export
          </button>
        </div>
        <div *ngIf="showFilters">
          <form class="filterform" [formGroup]="transactionservice.filtersForm">
            <div class="form-row">
              <div class="selects input-control">
                <label
                  style="font-size: 18px; margin-top: 10px; margin-right: 5px"
                  for="type"
                  >Type:</label
                >
                <select
                  required=""
                  name="category"
                  id="type"
                  formControlName="type"
                  style="margin-right: 18px"
                >
                  <option value="income">Income</option>
                  <option value="expense">Expense</option>
                </select>
              </div>
              <div class="form-group">
                <label for="startDate" style="font-size: 18px"
                  >Start Date:</label
                >
                <input type="date" id="startDate" formControlName="startDate" />
              </div>
              <div class="form-group">
                <label for="endDate" style="font-size: 18px">End Date:</label>
                <input type="date" id="endDate" formControlName="endDate" />
              </div>
              <div class="form-group">
                <button
                  class="formbtn apply-btn"
                  (click)="transactionservice.getFilteredTransactions()"
                >
                  Apply
                </button>
                <button class="formbtn clear-btn" (click)="clearFilters()">
                  Clear
                </button>
              </div>
            </div>
          </form>
        </div>
        <app-items
          *ngFor="
            let transaction of transactionservice.alltransactions
              | paginate
                : {
                    itemsPerPage: 5,
                    currentPage: currentPage,
                    totalItems: totalItems
                  }
          "
          [item]="transaction"
          [deleteMethod]="transactionservice.deleteTransaction"
        ></app-items>
        <li style="margin-left: 325px" *ngIf="totalItems > 5">
          <pagination-controls
            (pageChange)="currentPage = $event"
          ></pagination-controls>
        </li>
      </main>
    </div>
  </div>
</div>
